/*---------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype');
}

/*---------------------------------------------*/

h2 {
    font-family: OpenSans-Bold;
    font-weight: 800;
    font-size: 2rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.3rem;
    font-family: OpenSans-Regular;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    font-family: OpenSans-Regular;
}