
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LayoutSources/UserLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LayoutSources/UserLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @RenderBody()


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LayoutSources/UserLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LayoutSources/UserLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/LayoutSources/UserLogin/js/main.js"></script>

</body>
</html>