
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Layout/NguoiDung/_NguoiDungLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/LayoutSources/FAQ/CSS.css" rel="stylesheet" />    
</head>
<body>
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">

            <h2>Hỏi đi đáp luôn </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px">
                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                Tại sao miễn phí ship?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                        <div class="panel-body px-3 mb-4">
                            <p>Mình thích thì mình miễn phí thôi</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Làm thế nào để mua với số lượng nhiều?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body px-3 mb-4">
                            <p>Khách hàng vui lòng liên hệ số điện thoại 0949469675 để được hỗ trợ.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                               Tết Nguyên Đán có nghỉ không?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                            <p>Gia đình là trên hết... NGHỈ.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>

<style>
    .section-slide {
        display: none;
    }

    .sec-banner .row {
        display: none;
    }
</style>